<div class="side-nav" sideBar>
    <div class="side-nav-inner">
        <div class="side-nav-logo" style="background-color: #043762; height: 10%">
            <a href="" [routerLink]="['/dashboard']">
                <div class="logo logo-dark" style="background-image: url('assets/images/logo/logo.png')"></div>
                <div class="logo logo-white" style="background-image: url('assets/images/logo/logo-white.png')"></div>
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a (click)="toggleSideNavCollapse()" href="javascript:void(0);">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable" [perfectScrollbar]>
            <li clas="nav-item" routerLinkActive="active">
                <a class="mrg-top-30" href="" [routerLink]="['/dashboard']">
                    <span class="icon-holder">
                        <i class="ti-home"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle" href="javascript:void(0);">
                  <span class="icon-holder">
                      <i class="ti-view-list-alt"></i>
                  </span>
                  <span class="title">Ficher</span>
                  <span class="arrow">
                      <i class="ti-angle-right"></i>
                  </span>
              </a>
              <ul class="dropdown-menu">
                  <li class="nav-item dropdown">
                      <a href="javascript:void(0);">
                          <span>Fichier de Base</span>
                          <span class="arrow">
                              <i class="ti-angle-right"></i>
                          </span>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a [routerLink]="['fichier/base/programme/load']">Programme</a>
                      </li>
                        <li>
                          <a [routerLink]="['fichier/base/objectif/load']">Objectifs Spécifiques</a>
                        </li>
                      <li>
                          <a [routerLink]="['fichier/base/structures/load']">Structure</a>
                      </li>
                        <li>
                          <a [routerLink]="['fichier/base/resultat/load']">Résultat</a>

                        <li>
                          <a [routerLink]="['fichier/base/ministere/load']">Ministere</a>
                        </li>
                      <li>
                        <a [routerLink]="['fichier/base/action/load']">Action</a>
                    </li>
                    <li>
                      <a [routerLink]="['fichier/base/activite/load']">Activite</a>
                  </li>
                  <li>
                      <a [routerLink]="['fichier/base/tache/load']">Taches</a>
                  </li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="javascript:void(0);">
                        <span>Localisation</span>
                        <span class="arrow">
                            <i class="ti-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['fichier/localisation/departement/load']">Departement</a>
                        </li>
                      <li>
                        <a [routerLink]="['fichier/localisation/ville/load']">Ville</a>
                    </li>

                    </ul>
                </li>
                  <li class="nav-item dropdown">
                    <a href="javascript:void(0);">
                        <span>Financement</span>
                        <span class="arrow">
                            <i class="ti-angle-right"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a [routerLink]="['fichier/financement/type/source/load']">Type Source Financement</a>
                    </li>
                      <li>
                        <a [routerLink]="['fichier/financement/source/load']">Source Financement</a>
                      </li>

                    </ul>
                </li>



              </ul>



          </li>


                    <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
                  <span class="icon-holder">
                      <i class="ti-stats-up"></i>
                  </span>
              <span class="title">Statistiques</span>
              <span class="arrow">
                      <i class="ti-angle-right"></i>
                  </span>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropdown">
                <a href="javascript:void(0);">
                  <span>Liste</span>
                  <span class="arrow">
                              <i class="ti-angle-right"></i>
                          </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a [routerLink]="['statistique/list/indicateur/activite']">Indicateurs d'Activités</a>
                  </li>
                  <li>
                    <a [routerLink]="['statistique/list/activite/localisation']">Activités par localisation</a>
                  </li>
                  <li>
                    <a [routerLink]="['statistique/list/pta/structure']">PTA Structure par période</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="javascript:void(0);">
                  <span>Rapport d'Activité</span>
                  <span class="arrow">
                            <i class="ti-angle-right"></i>
                        </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a [routerLink]="['statistique/rapport/synthese']">Synthèse d'exécution physique du PTA par Structure</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a href="javascript:void(0);">
                  <span>Statistiques Diverses</span>
                  <span class="arrow">
                            <i class="ti-angle-right"></i>
                        </span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a [routerLink]="['statistique/diver/tep/action']">TEP Action</a>
                  </li>
                  <li>
                    <a [routerLink]="['statistique/diver/tep/programme']">TEP Programme</a>
                  </li>
                  <li>
                    <a [routerLink]="['statistique/diver/tep/projet']">TEP Projet</a>
                  </li>
                  <li>
                    <a [routerLink]="['statistique/diver/tep/pta']">TEP PTA</a>
                  </li>
                  <li>
                    <a [routerLink]="['statistique/diver/tep/pip']">TEP PIP</a>
                  </li>

                </ul>
              </li>

            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
                  <span class="icon-holder">
                      <i class="ti-write"></i>
                  </span>
              <span class="title">Traitement</span>

            </a>
            <ul class="dropdown-menu">
              <li>
                <a [routerLink]="['traitement/programmation_des_taches/load']">Programmation des tâches</a>
              </li>
              <li>
                <a [routerLink]="['traitement/suivi_pta/load']">Suivi PTA</a>
              </li>
              <li>
                <a [routerLink]="['traitement/indicateurs_realises/load']">Indicateurs Réalisés</a>
              </li>
            </ul>
          </li>






          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
                  <span class="icon-holder">
                      <i class="ti-settings"></i>
                  </span>
              <span class="title">Paramètre</span>

            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropdown">
                <a [routerLink]="['parametres/exercice/load']">Exercice</a>

              </li>
            </ul>
          </li>






        </ul>
    </div>
</div>
