<div *ngIf="message !== ''" class="alert alert-danger" role="alert">
    {{message}}
</div>
<div class="container-fluid">
    <div class="page-title">
        <h4 class="card-title">Ajouter une Source Financement</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-7">

                            <form class="form-horizontal mrg-top-40 pdd-right-30" (ngSubmit)="onSubmit(f)" #f="ngForm">



                                <div class="form-group row">
                                    <label for="form-1-3" class="col-md-4 control-label">Libellé Source Financement</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="form-1-3" placeholder="Libellé Source Financement" ngModel="" name="libellé_source_financement">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="form-1-5" class="col-md-4 control-label">Type Source Financement</label>
                                    <div class="col-md-8">
                                        <ng-selectize id="form-1-5" [config]="singleSelectConfig" [options]="singleSelectOptions" [(ngModel)]="singleSelectValue" ngDefaultControl [ngModelOptions]="{standalone: true}"></ng-selectize>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="form-1-6" class="col-md-6 control-label">Projet </label>
                                    <div class="col-md-1">
                                        <div class="toggle-checkbox checkbox-inline toggle-sm mrg-top-10">
                                            <input type="checkbox" ngModel="" name="toggle1" id="form-1-6" checked>
                                            <label for="form-1-6"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="form-1-7" class="col-md-4 control-label">Poids projet PIP </label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control" id="form-1-7" ngModel="" placeholder="0" name="poids_projet_pip">
                                    </div>
                                </div>


                                <a [routerLink]="['/dashboard/fichier/financement/source/load']" class="btn btn-primary">
                                    <i class="ti-back-left pdd-right-5"></i>
                                    <span>Retour</span>
                                </a> <button type="submit" class="btn btn-info" [disabled]="f.invalid">

                <span>Valider</span>
              </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>