<div class="container-fluid">
    <div class="page-title">
        <h4>Liste des Activites</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <a [routerLink]="['add']" class="btn btn-info">
                        <i class="ti-plus pdd-right-5"></i>
                        <span>Ajouter</span>
                    </a>
                    <a (click)="execelExport()" class="btn btn-info" style="color: white">
                        <i class="ti-export pdd-right-5"></i>
                        <span>EXCEL</span>
                    </a>
                    <a (click)="csvExport()" class="btn btn-info" style="color: white">
                        <i class="ti-export pdd-right-5"></i>
                        <span>CSV</span>
                    </a>
                    <div class="table-overflow">
                        <table class="table table-lg table-hover" datatable [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Code Activité</th>
                                    <th>Libelle Activité</th>
                                    <th>Montant Activité</th>
                                    <th>Date Début</th>
                                    <th>Date Fin</th>
                                    <th>Poids Activité</th>
                                    <!-- <th>Mode d'execution</th> -->
                                    <th>Département</th>
                                    <th>Ville</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let activite of activites">
                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{activite._subaction}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <span style="width: 20px">{{activite.code}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{activite.denomination}}</span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{activite.budget}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{activite.started_on}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{activite.ended_on}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{activite.weight_in_subaction}}</span>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div class="mrg-top-15">
                                            <span>{{activite.execution_mode}}</span>
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{ getVille(activite.towns[0]).denomination}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{ getVille(activite.towns[0])._department}}</span>
                                        </div>
                                    </td>


                                    <td>
                                        <div class="mrg-top-10 text-center">
                                            <button [routerLink]="['edit/' + activite.id]" class="btn btn-icon btn-flat btn-rounded dropdown-toggle">
                                            <i class="ti-pencil"></i>
                                        </button>
                                            <button class="btn btn-icon btn-flat btn-rounded dropdown-toggle" (click)="onDelete(activite.id)">
                                          <i class="ti-trash"></i>
                                      </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
