 <!--<div *ngIf = "message !== ''" class="alert alert-danger" role="alert">-->
  <!--{{message}}-->
<!--</div> -->

<div class="container-fluid">
  <div class="page-title">
    <h4 class="card-title">Modifier une Ville</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-7">

              <form  class="form-horizontal mrg-top-40 pdd-right-30" (ngSubmit)="onSubmit(f)"  #f = "ngForm">

                <div class="form-group row">
                  <label for="form-1-2" class="col-md-2 control-label">Denomination</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" id="form-1-2" placeholder="Nom Ville" ngModel="{{ville.denomination}}" name="nom_ville">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="form-1-6" class="col-md-2 control-label">Département</label>
                  <div class="col-md-10">
                    <ng-selectize id="form-1-6"  [config]="singleSelectConfig" [options]="singleSelectOptions" [(ngModel)]="singleSelectValue" ngDefaultControl [ngModelOptions]="{standalone: true}"></ng-selectize>
                  </div>
                </div>
                <a [routerLink]="['/dashboard/fichier/localisation/ville']" class="btn btn-primary">
                  <i class="ti-back-left pdd-right-5"></i>
                  <span>Retour</span>
                </a> <button type="submit" class="btn btn-info" [disabled]="f.invalid">

                <span>Valider</span>
              </button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
