<div *ngIf = "message !== ''" class="alert alert-danger" role="alert">
  {{message}}
</div>

<div class="container-fluid">
  <div class="page-title">
    <h4 class="card-title">Fiche de suivi PTA</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-7">

              <form  class="form-horizontal mrg-top-40 pdd-right-30" (ngSubmit)="onSubmit(f)"  #f = "ngForm">


                <div class="form-group row">
                  <label for="form-1-1" class="col-md-2 control-label">Activité</label>
                  <div class="col-md-10">
                    <ng-selectize id="form-1-1"  [config]="singleSelectConfig" [options]="singleSelectOptionsActivite" [(ngModel)]="singleSelectValueActivite" ngDefaultControl [ngModelOptions]="{standalone: true}"></ng-selectize>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="form-1-2" class="col-md-2 control-label">Tâche</label>
                  <div class="col-md-10">
                    <ng-selectize id="form-1-2"  [config]="singleSelectConfig" [options]="singleSelectOptionsTache" [(ngModel)]="singleSelectValueTache" ngDefaultControl [ngModelOptions]="{standalone: true}"></ng-selectize>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="form-1-3" class="col-md-2 control-label">Réalisée</label>
                  <div class="col-md-10">

                    <input id="form-1-3" type="checkbox" name="toggle1" id="form-1-3" checked>

                  </div>
                </div>

                <div class="form-group row">
                  <label for="form-1-4" class="col-md-2 control-label">Date fin de réalisation</label>
                  <div class="col-md-10">
                    <div class="timepicker-input input-group">
                  <span class="input-group-text">
													<i class="ti-calendar"></i>
                  </span>
                      <input id="form-1-4" type="text" class="form-control datepicker-2" placeholder="" data-provide="datepicker" name="date_fin_real">
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="form-1-5" class="col-md-2 control-label">Observations</label>
                  <div class="col-md-10">
                    <textarea class="form-control" rows="3" id="form-1-5" name="commentaire"></textarea>
                  </div>
                </div>

                <a [routerLink]="['/dashboard/fichier/localisation/ville']" class="btn btn-primary">
                  <i class="ti-back-left pdd-right-5"></i>
                  <span>Retour</span>
                </a> <button type="submit" class="btn btn-info" [disabled]="f.invalid">

                <span>Valider</span>
              </button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
