<div class="container-fluid">
	<div class="page-title">
		<h4>Liste des Programmes</h4>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
          <a [routerLink]="['add']" class="btn btn-info">
            <i class="ti-plus pdd-right-5"></i>
            <span>Ajouter</span>
          </a>
          <a [routerLink]="['import']" class="btn btn-info">
            <i class="ti-import pdd-right-5"></i>
            <span>Importer</span>
          </a>
          <a (click)="execelExport()" class="btn btn-info" style="color: white">
            <i class="ti-export pdd-right-5"></i>
            <span>EXCEL</span>
          </a>
          <a (click)="pdfExport()" class="btn btn-info" style="color: white">
            <i class="ti-export pdd-right-5"></i>
            <span>PDF</span>
          </a>
          <a (click)="csvExport()" class="btn btn-info" style="color: white">
            <i class="ti-export pdd-right-5"></i>
            <span>CSV</span>
          </a>
                    <div class="table-overflow">
                        <table class="table table-lg table-hover" datatable [dtOptions]="dtOptions" id="programmeTable">
                            <thead>
                                <tr>
                                    <th>Code Programme</th>
                                    <th>Libellé Programme</th>
                                    <th>Poids</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let programme of programmes">
                                    <td>
                                      <div class="mrg-top-15">
                                        <span>{{programme.code}}</span>
                                    </div>
                                    </td>
                                    <td>
                                      <div class="mrg-top-15">
                                        <span>{{programme.denomination}}</span>
                                    </div>
                                    </td>

                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{programme.weight_in_programm}}</span>
                                        </div>
                                    </td>
                                  <td>
                                    <div class="mrg-top-10 text-center">
                                      <a [routerLink]="['edit/' + programme.id]" class="btn btn-icon btn-flat btn-rounded dropdown-toggle">
                                        <i class="ti-pencil"></i>
                                      </a>
                                      <button class="btn btn-icon btn-flat btn-rounded dropdown-toggle " (click)="onDelete(programme.id)">
                                        <i class="ti-trash"></i>
                                      </button>
                                    </div>
                                  </td>
                                </tr>
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
