<footer class="content-footer" >
    <div class="footer">
        <div class="copyright">
            <span>Copyright © 2019 MASM <b class="text-dark">Ministères des Affaires Sociales et de la Microfinance</b>. Tous droits réservés.</span>
<!--            <span class="go-right">-->
<!--                <a href="" class="text-gray mrg-right-15">Term & Conditions</a>-->
<!--                <a  href="" class="text-gray">Privacy & Policy</a>-->
<!--            </span>-->

        </div>
      <div class="flag-container">

        <span style=" background-color: #00875b;"></span>
        <span style="background-color: #f2b331;width: 33.34%;"></span>
        <span style="background-color: #f00008;"></span></div>

    </div>
</footer>
