<div class="container-fluid">
  <div class="page-title">
    <h4>Indicateurs Réalisés</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <a [routerLink]="['add']" class="btn btn-info">
            <i class="ti-plus pdd-right-5"></i>
            <span>Ajouter</span>
          </a>
          <a [routerLink]="['import']" class="btn btn-info">
            <i class="ti-import pdd-right-5"></i>
            <span>Importer</span>
          </a>
          <a (click)="execelExport()" class="btn btn-info">
            <i class="ti-export pdd-right-5"></i>
            <span>EXCEL</span>
          </a>
          <div class="table-overflow">
            <table class="table table-lg table-hover" datatable [dtOptions]="dtOptions">
              <thead>
              <tr>
                <th>Activité</th>
                <th>Libellé Indicateur</th>
                <th>Valeur Cible</th>
                <th>Valeur Réalisée</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let indicateur of indicateurs">
                <td>
                  <div class="mrg-top-15">
                    <span>{{indicateur._activity}}</span>
                  </div>
                </td>
                <td>
                  <div class="mrg-top-15">
                    <span>{{indicateur.denomination}}</span>
                  </div>
                </td>

                <td>
                  <div class="mrg-top-15">
                    <span>{{indicateur.target_value}}</span>
                  </div>
                </td>


                <td>
                  <div class="mrg-top-15">
                    <span>{{indicateur.realized_value}}</span>
                  </div>
                </td>



                <td>
                  <div class="mrg-top-10 text-center">
                    <a [routerLink]="['edit/' + indicateur.id]" class="btn btn-icon btn-flat btn-rounded dropdown-toggle">
                      <i class="ti-pencil"></i>
                    </a>
                    <button class="btn btn-icon btn-flat btn-rounded dropdown-toggle " (click)="onDelete(indicateur.id)">
                      <i class="ti-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
