<div class="container-fluid">
	<div class="page-title">
		<h4>Liste des Actions</h4>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
          <a [routerLink]="['add']" class="btn btn-info">
            <i class="ti-plus pdd-right-5"></i>
            <span>Ajouter</span>
          </a>
                    <div class="table-overflow">
                        <table class="table table-lg table-hover" datatable [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                    <th>Resultat</th>
                                    <th>Code Action</th>
                                    <th>Libelle Action</th>
                                    <th>Poids Action</th>
                                    <th>Montant Action</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let action of actions">
                                    <td>
                                      <div class="mrg-top-15">
                                        <span>{{action._resultat}}</span>
                                    </div>
                                    </td>
                                    <td>
                                      <div class="mrg-top-15">
                                        <span style="width: 20px">{{action.code}}</span>
                                    </div>
                                    </td>

                                    <td>
                                        <div class="mrg-top-15">
                                            <span>{{action.libelle}}</span>
                                        </div>
                                    </td>
                                    <td>
                                      <div class="mrg-top-15">
                                          <span>{{action.poids}}</span>
                                      </div>
                                  </td>
                                  <td>
                                    <div class="mrg-top-10 text-center">
                                      <a [routerLink]="['edit/' + action.identifiant]" class="btn btn-icon btn-flat btn-rounded dropdown-toggle">
                                        <i class="ti-pencil"></i>
                                      </a>
                                      <button class="btn btn-icon btn-flat btn-rounded dropdown-toggle" (click)="onDelete(action.identifiant)">
                                        <i class="ti-trash"></i>
                                      </button>
                                    </div>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        </div>
      </div>
    </div>
  </div>
</div>
