<div *ngIf="message !== ''" class="alert alert-danger" role="alert">
    {{message}}
</div>


<div class="container-fluid">
    <div class="page-title">
        <h4 class="card-title">Modifier un Programme</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-7">

                            <form class="form-horizontal mrg-top-40 pdd-right-30" (ngSubmit)="onSubmit(f)" #f="ngForm">

                              <div class="form-group row">
                                <label for="form-1-1" class="col-md-3 control-label">Code Programme</label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" id="form-1-1" placeholder="Code" name="code" ngModel="{{programme.code}}">
                                </div>
                              </div>

                                <div class="form-group row">
                                    <label for="form-1-2" class="col-md-3 control-label">Libelle Programme</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="form-1-2" placeholder="Libelle" name="libelle" ngModel="{{programme.denomination}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-3" class="col-md-3 control-label">Poids Programme</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="form-1-3" placeholder="Poids Programme" name="poids" ngModel="{{programme.weight_in_programm}}">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="form-1-6" class="col-md-3 control-label">Exercice</label>
                                    <div class="col-md-9">
                                        <ng-selectize id="form-1-6" [config]="singleSelectConfig" [options]="singleSelectOptions" [(ngModel)]="singleSelectValue" ngDefaultControl [ngModelOptions]="{standalone: true}"></ng-selectize>
                                    </div>
                                </div>
                                <a [routerLink]="['/dashboard/fichier/base/programme/load']" class="btn btn-primary">
                                    <i class="ti-back-left pdd-right-5"></i>
                                    <span>Retour</span>
                                </a> <button type="submit" class="btn btn-info" [disabled]="f.invalid">

                <span>Valider</span>
              </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
